/* Custom container */
.background {
  background: url(/assets/images/background_tile.jpg) repeat;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.content {
  background-color: #eee;
  margin-top: -16px;
  padding:  20px;

}

.content-border {
  background: #7b828a;
  margin-top: -25px;
  padding: 4px 10px 2px 10px;
}

.content-border .nav {
  color: #fff;
  font-weight: bold;
  list-style: none;
  text-align: right;
  padding-right: 10px;
}

.content-border .nav a {
  color: #fff;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.content-border .nav li {
  display: inline-block;
  text-shadow: 0 1px 0 #424b54;
  padding-left: 10px;
}

.content h1 {
  font-size: 25px;
  color: #883824;
  margin-top: -10px;
  margin-bottom: -10px;
}

.content h1 small {
  font-size: 18px;
  margin-left: 10px;
}

.content li {
  list-style: none;
}

.content-top {
  border-top: 1px solid #fff;
}

.content ul {
  padding: 0;
  margin: 0 10px 0px 10px;
}

.excerpt {
  margin-left: 20px;
  margin-top: 10px;
}

.excerpt-link {
  margin-left: 20px;
}

footer a {
  color: #e1e1e1;
}

footer a:hover {
  color: #fff;
}

.footer-note {
  color: #222222;
  margin-top: 10px;
}

hr {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 20px 0;
}

.navbar {
  margin-top: 35px;
}

.navbar .brand {
  font-size: 53px;
  letter-spacing: 3px;
  text-shadow: 0 3px 0 #424b54;
  color: #fff;
  margin-top: 14px;
  font-family: 'Tangerine', serif;
}

.navbar-inner {
  background-color: #616870;
  min-height: 63px;
}

.navbar .nav {
  float: right;
}

.page-header h1 {
  margin-top: -25px;
  margin-bottom: -30px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px;

}

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

.post > .more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}